SetStyle( 'default' )
SetMacro( 'AUTHOR',       'wgwang' )
SetMacro( 'EMAIL',       'kdd.wang@gmail.com' )
SetMacro( 'COPYRIGHT',    'Copyright (c) |YEAR|, |AUTHOR|' )
SetMacro( 'LICENSE',      'wgwang License' )
